#root {
  text-align: center;
}

.logo {
  width: 75px;
  margin-left: 10px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
}

.header {
  display: flex;
}

.nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  background-color: #ee5656;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: white;
  overflow: hidden;
  width: 99.39%;
}

#nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0 20px;
  gap: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-right: 1rem;
}

.post {
  margin: 0 auto;
  width: 30%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  color: white;
  padding: 1.5rem 2rem;
  margin-top: 30px;
  text-align: left;
  transition: 0.15s;
  background-color: #7e1b1b;
}

.post:hover {
  box-shadow: 0px 0px 5px 0px #ee5656;
  cursor: pointer;
  transform: scale(1.02);
}

.post-list {
  gap: 10px;
}

.create-container, .update-container {
  display: grid;
  background-color: #161616;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  width: 25%;
  padding: 3rem;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 10%;
}

.title {
  background-color:#161616;
  border-style: groove;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}

.description {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  background-color:#161616;
}

.post-container {
  text-align: left;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #7e1b1b;
  width: 25%;
  padding: 1rem 3rem;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 5%;
}

.post-footer {
  display: flex;
  align-items: center;
  font-size: .83em;
}

.post-misc {
  list-style: none;
  list-style-position: outside;
  display: flex;
  justify-content: right;
  margin-right: 20px;
}

.post-icons {
  width: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.clock-icon {
  width: 17px;
  margin-right: 6px;
  vertical-align: middle;
}

.post-time {
  display: flex;
  justify-content: right;
  text-align: right;
}

.post-upvotes {
  cursor: pointer;
}

.comment-container {
  text-align: right;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  background-color: #161616;
  width: 20%;
  padding: 1rem 3rem;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 25px;
}

.comment-list {
  text-align: left;
}

.etc {
  font-size: .83em;
}

.comment {
  font-size: 18px;
}

.comment-content {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 100%;
  height: 150px;
  border-radius: 4px;
  box-sizing: border-box;
  resize: none;
  background-color:#161616;
}

.comment-button {
  border-radius: 20px;
  font-size: 12px;
}

.comment-button:disabled {
  background-color: #ee5656;
  color: #555;
  cursor: not-allowed;
}

.comment-box {
  text-align: right;
}

hr.gradient {
  height: 1px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    #7e1b1b 0%,
    #ee5656 21%,
    #242424 51%,
    #161616 100%
  );
}

hr.solid {
  height: 1px;
  border: none;
  background-color: #a83838;
}

.search-container {
  display: flex;
  position: absolute;
  margin: 0 auto;
  background-color: #ee5656;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  align-items: center;
  width: 25px;
  transition: 0.8s;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search-container input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.search-container:hover, .search-container:hover input {
  width: 500px;
  cursor: pointer;
}

.filters-container {
  width: fit-content;
  margin-left: auto;
}

.filters-bar {
  margin: 30px auto;
  width: 32%;
}

.filter-button {
  border-radius: 30px;
  margin-left: 10px;
}

.filter-button:focus {
  background-color: #7e1b1b;
  outline: 4px auto -webkit-focus-ring-color;
}

.update-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dropdown-button {
  cursor: pointer;
}

.update-dropdown {
  text-align: right;
  width: fit-content;
  margin-left: auto;
  position: relative;
}

.dropdown-content {
  border-radius: 5px;
  display: none;
  text-align: left;
  position: absolute;
  background-color: #161616;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  border-radius: 5px;
  font-size: 12px;
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.delete {
  background-color: transparent;
  border-color: #7e1b1b;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #242424;}

/* Show the dropdown menu on hover */
.update-dropdown:hover .dropdown-content {
  display: block;
}

.image-url {
  color: transparent;
}

.image-url::-webkit-file-upload-button {
  visibility: hidden;
}

.image-url::before {
  content: 'Upload Images';
  color: white;
  display: flex;
  justify-content: center;
  background: #ee5656;
  border-color: white;
  border-radius: 8px;
  padding: 8px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  font-size: 10pt;
}
.image-url:hover::before {
  border-color: black;
}
.image-url:active {
  outline: 0;
}

.image-delete-button {
  overflow: hidden;
	position: absolute;
	border: none;
	padding: 3px 7px;
	border-radius: 50%;
	background: transparent;
	color: white;
	cursor: pointer;
}

.image-upload {
  margin-bottom: 20px;
}

.images-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100%;
}